<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SensorsDomain</key>
	<dict>
		<key>SensorsAnalyticsDebugUrl</key>
		<string>https://rt-test-hw-data.happymaker.com.cn</string>
		<key>SensorsAnalyticsReleaseUrl</key>
		<string>https://rt-%@-data.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainDevelop-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string></string>
		<key>YdaccountDomain</key>
		<string></string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-sdk-test.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-sdk-test.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-sdk-test.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainTest-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src-sdk-test.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src-sdk-test.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src-sdk-test.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainProduct-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-sdk.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-sdk.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-sdk.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainProduct-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src-sdk.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src-sdk.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src.sdk-sdk.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainDevelop-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>http://10.18.20.69:8082</string>
		<key>YdaccountDomain</key>
		<string>http://10.18.20.69:8085</string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-sdk-test.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://ywzc-yducaccount-sdk-test.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk-test.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainTest-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-src-sdk-test.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-src-sdk-test.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk-test-src.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainProduct-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-sdk.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-sdk.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk.happymaker.com.cn</string>
	</dict>
	<key>SdkDomainProduct-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-src-sdk.happymaker.com.cn</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-src-sdk.happymaker.com.cn</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-src-sdk.happymaker.com.cn</string>
	</dict>
	<key>AccountCenterDomain</key>
	<dict>
		<key>AccountCenterDomainUrl</key>
		<string>https://account.happymaker.com.cn/usernavcenter</string>
		<key>AccountCenterDomainDebugUrl</key>
		<string>https://account-test.happymaker.com.cn/usernavcenter</string>
	</dict>
	<key>PolicyDomain</key>
	<dict>
		<key>PolicyProtocolUrl</key>
		<string>https://static.happymaker.com.cn/policy/juyu/protocol_game.html?t=</string>
		<key>PolicyProtocolDebugUrl </key>
		<string>https://static-test.happymaker.com.cn/policy/juyu/protocol_game.html?t=</string>
		<key>PolicyPrivacyUrl</key>
		<string>https://static.happymaker.com.cn/policy/juyu/privacy_game.html?t=</string>
		<key>PolicyPrivacyDebugUrl</key>
		<string>https://static-test.happymaker.com.cn/policy/juyu/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictUrl</key>
		<string>https://static.happymaker.com.cn/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictDebugUrl</key>
		<string>https://static-test.happymaker.com.cn/yducaccount/wap/html/privacy_game.html?t=</string>
	</dict>
	<key>AccountResetPasswdDomain</key>
	<dict>
		<key>AccountResetPasswdDomainUrl</key>
		<string>https://account.happymaker.com.cn/accountcenter/#</string>
		<key>AccountResetPasswdDomainDebugUrl</key>
		<string>https://account-test.happymaker.com.cn/accountcenter/#</string>
	</dict>
	<key>CanaryDomain</key>
	<dict>
		<key>CanaryDomainUrl</key>
		<string>https://canary.happymaker.com.cn</string>
		<key>CanaryDomainDebugUrl</key>
		<string>https://canary-test.happymaker.com.cn</string>
	</dict>
	<key>CustomerServiceDomain</key>
	<dict>
		<key>CustomerServiceDomainUrl</key>
		<string>https://chatbot.happymaker.com.cn/</string>
		<key>CustomerServiceDomainDebugUrl</key>
		<string>https://chatbot-test.happymaker.com.cn/</string>
	</dict>
	<key>ScoreServiceDomain</key>
	<dict>
		<key>ScoreServiceDomainUrl</key>
		<string>https:/score-config.happymaker.com.cn</string>
		<key>ScoreServiceDomainDebugUrl</key>
		<string>http://score-config-test.happymaker.com.cn</string>
	</dict>
	<key>SdkHiddenTianti</key>
	<true/>
	<key>EnableCanaryStatus</key>
	<true/>
	<key>EnterGameOnlineDomain</key>
	<dict>
		<key>EnterGameOnlineDomainUrl</key>
		<string>https://useronline.happymaker.com.cn</string>
		<key>EnterGameOnlineDomainDebugUrl</key>
		<string>http://useronline-zctest.happymaker.com.cn</string>
	</dict>
	<key>EnterGameOnlineDomainBackup</key>
	<dict>
		<key>EnterGameOnlineDomainBackupUrl</key>
		<string>https://useronline-src.happymaker.com.cn</string>
		<key>EnterGameOnlineDomainBackupDebugUrl</key>
		<string>http://useronline-src-zctest.happymaker.com.cn</string>
	</dict>
	<key>IntelligentCustomerDomain</key>
	<dict>
		<key>IntelligentCustomerDomainUrl</key>
		<string>https://smartbot.happymaker.com.cn</string>
		<key>IntelligentCustomerDomainDebugUrl</key>
		<string>https://smartbot-test.happymaker.com.cn</string>
	</dict>
	<key>ClientDataHubUrl</key>
	<string>https://client-datahub.happymaker.com.cn</string>
</dict>
</plist>
