<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SensorsDomain</key>
	<dict>
		<key>SensorsAnalyticsDebugUrl</key>
		<string>https://rt-test-hw-data.qutang.fun</string>
		<key>SensorsAnalyticsReleaseUrl</key>
		<string>https://rt-%@-data.qutang.fun</string>
	</dict>
	<key>SdkDomainDevelop-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string></string>
		<key>YdaccountDomain</key>
		<string></string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-sdk-test.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-sdk-test.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-sdk-test.qutang.fun</string>
	</dict>
	<key>SdkDomainTest-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src-sdk-test.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src-sdk-test.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src-sdk-test.qutang.fun</string>
	</dict>
	<key>SdkDomainProduct-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-sdk.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-sdk.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-sdk.qutang.fun</string>
	</dict>
	<key>SdkDomainProduct-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src-sdk.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src-sdk.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src.sdk-sdk.qutang.fun</string>
	</dict>
	<key>SdkDomainDevelop-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>http://10.18.20.69:8082</string>
		<key>YdaccountDomain</key>
		<string>http://10.18.20.69:8085</string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-sdk-test.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://ywzc-yducaccount-sdk-test.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk-test.qutang.fun</string>
	</dict>
	<key>SdkDomainTest-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-src-sdk-test.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-src-sdk-test.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk-test-src.qutang.fun</string>
	</dict>
	<key>SdkDomainProduct-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-sdk.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-sdk.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-sdk.qutang.fun</string>
	</dict>
	<key>SdkDomainProduct-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://oneserver-src-sdk.qutang.fun</string>
		<key>YdaccountDomain</key>
		<string>https://yducaccount-src-sdk.qutang.fun</string>
		<key>YdpayDomain</key>
		<string>https://ydpay-src-sdk.qutang.fun</string>
	</dict>
	<key>AccountCenterDomain</key>
	<dict>
		<key>AccountCenterDomainUrl</key>
		<string>https://account.qutang.fun/usernavcenter</string>
		<key>AccountCenterDomainDebugUrl</key>
		<string>https://account-test.qutang.fun/usernavcenter</string>
	</dict>
	<key>PolicyDomain</key>
	<dict>
		<key>PolicyProtocolUrl</key>
		<string>https://static.qutang.fun/yducaccount/wap/html/protocol_game.html?t=</string>
		<key>PolicyProtocolDebugUrl </key>
		<string>https://te-static.qutang.fun/yducaccount/wap/html/protocol_game.html?t=</string>
		<key>PolicyPrivacyUrl</key>
		<string>https://static.qutang.fun/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyDebugUrl</key>
		<string>https://te-static.qutang.fun/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictUrl</key>
		<string>https://te-static.qutang.fun/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictDebugUrl</key>
		<string>https://te-static.qutang.fun/yducaccount/wap/html/privacy_game.html?t=</string>
	</dict>
	<key>AccountResetPasswdDomain</key>
	<dict>
		<key>AccountResetPasswdDomainUrl</key>
		<string>https://account.qutang.fun/accountcenter/#</string>
		<key>AccountResetPasswdDomainDebugUrl</key>
		<string>https://account-test.qutang.fun/accountcenter/#</string>
	</dict>
	<key>CanaryDomain</key>
	<dict>
		<key>CanaryDomainUrl</key>
		<string>https://canary.qutang.fun</string>
		<key>CanaryDomainDebugUrl</key>
		<string>https://canary-test.qutang.fun</string>
	</dict>
	<key>CustomerServiceDomain</key>
	<dict>
		<key>CustomerServiceDomainUrl</key>
		<string>https://chatbot.qutang.fun/</string>
		<key>CustomerServiceDomainDebugUrl</key>
		<string>https://chatbot-test.qutang.fun/</string>
	</dict>
	<key>ScoreServiceDomain</key>
	<dict>
		<key>ScoreServiceDomainUrl</key>
		<string>https:/score-config.happymaker.games</string>
		<key>ScoreServiceDomainDebugUrl</key>
		<string>http://test-score-config.happymaker.games</string>
	</dict>
	<key>SdkHiddenTianti</key>
	<true/>
</dict>
</plist>
