<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SensorsDomain</key>
	<dict>
		<key>SensorsAnalyticsDebugUrl</key>
		<string>https://rt-test-hw.btdata.100bt.com</string>
		<key>SensorsAnalyticsReleaseUrl</key>
		<string>https://rt-%@.btdata.100bt.com</string>
	</dict>
	<key>SdkDomainDevelop-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string></string>
		<key>YdaccountDomain</key>
		<string></string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-test.sdk.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-test.sdk.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-test.sdk.100bt.com</string>
	</dict>
	<key>SdkDomainTest-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src-test.sdk.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src-test.sdk.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src-test.sdk.100bt.com</string>
	</dict>
	<key>SdkDomainProduct-AppCode</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver.sdk.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount.sdk.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay.sdk.100bt.com</string>
	</dict>
	<key>SdkDomainProduct-AppCode-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://%@-oneserver-src.sdk.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://%@-yducaccount-src.sdk.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://%@-ydpay-src.sdk.100bt.com</string>
	</dict>
	<key>SdkDomainDevelop-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>http://10.18.20.69:8082</string>
		<key>YdaccountDomain</key>
		<string>http://10.18.20.69:8085</string>
		<key>YdpayDomain</key>
		<string></string>
	</dict>
	<key>SdkDomainTest-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://te-oneserver.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://te-ydaccount.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://te-ydpay.100bt.com</string>
	</dict>
	<key>SdkDomainTest-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://te-oneserver-src.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://te-ydaccount-src.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://te-ydpay-src.100bt.com</string>
	</dict>
	<key>SdkDomainProduct-Default</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://pe-oneserver.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://pe-ydaccount.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://pe-ydpay.100bt.com</string>
	</dict>
	<key>SdkDomainProduct-Default-Backup</key>
	<dict>
		<key>OnesdkDomain</key>
		<string>https://pe-oneserver-src.100bt.com</string>
		<key>YdaccountDomain</key>
		<string>https://pe-ydaccount-src.100bt.com</string>
		<key>YdpayDomain</key>
		<string>https://pe-ydpay-src.100bt.com</string>
	</dict>
	<key>AccountCenterDomain</key>
	<dict>
		<key>AccountCenterDomainUrl</key>
		<string>https://account.172tt.com/usernavcenter</string>
		<key>AccountCenterDomainDebugUrl</key>
		<string>https://account-test.172tt.com/usernavcenter</string>
	</dict>
	<key>EnterGameOnlineDomain</key>
	<dict>
		<key>EnterGameOnlineDomainUrl</key>
		<string>https://useronline.100bt.com</string>
		<key>EnterGameOnlineDomainDebugUrl</key>
		<string>http://useronline-zctest.100bt.com</string>
	</dict>
	<key>EnterGameOnlineDomainBackup</key>
	<dict>
		<key>EnterGameOnlineDomainBackupUrl</key>
		<string>https://useronline-src.100bt.com</string>
		<key>EnterGameOnlineDomainBackupDebugUrl</key>
		<string>http://useronline-src-zctest.100bt.com</string>
	</dict>
	<key>PolicyDomain</key>
	<dict>
		<key>PolicyProtocolUrl</key>
		<string>https://static.100bt.com/yducaccount/wap/html/protocol_game.html?t=</string>
		<key>PolicyProtocolDebugUrl </key>
		<string>https://te-static.100bt.com/yducaccount/wap/html/protocol_game.html?t=</string>
		<key>PolicyPrivacyUrl</key>
		<string>https://static.100bt.com/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyDebugUrl</key>
		<string>https://te-static.100bt.com/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictUrl</key>
		<string>https://te-static.100bt.com/yducaccount/wap/html/privacy_game.html?t=</string>
		<key>PolicyPrivacyAddictDebugUrl</key>
		<string>https://te-static.100bt.com/yducaccount/wap/html/privacy_game.html?t=</string>
	</dict>
	<key>AccountResetPasswdDomain</key>
	<dict>
		<key>AccountResetPasswdDomainUrl</key>
		<string>https://account.172tt.com/accountcenter/#</string>
		<key>AccountResetPasswdDomainDebugUrl</key>
		<string>https://account-test.172tt.com/accountcenter/#</string>
	</dict>
	<key>IntelligentCustomerDomain</key>
	<dict>
		<key>IntelligentCustomerDomainUrl</key>
		<string>https://smartbot.172tt.com</string>
		<key>IntelligentCustomerDomainDebugUrl</key>
		<string>https://smartbot-test.172tt.com</string>
	</dict>
	<key>CanaryDomain</key>
	<dict>
		<key>CanaryDomainUrl</key>
		<string>https://canary.172tt.com</string>
		<key>CanaryDomainDebugUrl</key>
		<string>https://canary-test.172tt.com</string>
	</dict>
	<key>CustomerServiceDomain</key>
	<dict>
		<key>CustomerServiceDomainUrl</key>
		<string>https://chatbot.172tt.com/</string>
		<key>CustomerServiceDomainDebugUrl</key>
		<string>https://chatbot-test.172tt.com/</string>
	</dict>
	<key>ScoreServiceDomain</key>
	<dict>
		<key>ScoreServiceDomainUrl</key>
		<string>https:/score-config.172tt.com</string>
		<key>ScoreServiceDomainDebugUrl</key>
		<string>http://score-config-test.172tt.com</string>
	</dict>
</dict>
</plist>
